.about-container {
    max-width: 600px;
    font-size: 1.2em;
}
.about-title {
    margin: 0 0 20px -15px;
}

@media screen and (max-width: 400px) {
    .about-title {
        font-size: 1.3em;
    }
}
