.about-container {
    margin: 2em 1.5em;
    max-width: 500px;
    background-color: #548d6cb9;
    border-radius: 10px;
    padding: 2em;
    box-shadow: 5px 4px 3px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}
.about-title {
    text-transform: uppercase;
    font-size: 1.6em;
    background-color: rgba(252, 205, 143, 0.791);
    color: #936d61;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 12px;
    margin: 0 0 20px -15px;

    transition: font-size 0.3s ease;
}

@media screen and (max-width: 400px) {
    .about-title {
        font-size: 1.4em;
    }
}
