.home-content {
    display: flex;
    flex-direction: column;
    color: #548d6c64;
    background-color: aliceblue;
    box-shadow: 6px 5px 1px rgba(0, 0, 0, 0.3);
}
.hex-container {
    position: relative;
    min-width: 300px;
    min-height: 300px;
}
.hexagon {
    width: 20px;
    height: 2px;
    background-color: #548d6c;
    position: absolute;
}
.hexagon:nth-child(1) {
    top: 0;
    left: 50%;
    margin-left: -50px;
}
.hexagon:nth-child(2) {
    top: 50%;
    left: 25%;
    margin-top: 0px;
}
.hexagon:nth-child(3) {
    top: 50%;
    left: 75%;
    margin-top: -50px;
}
.hexagon:before,
.hexagon:after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 40px solid transparent;
    border-right: 60px solid transparent;
}
.hexagon:before {
    top: -29px;
    border-bottom: 29px solid #548d6c;
}
.hexagon:after {
    bottom: -29px;
    border-top: 29px solid #548d6c;
}
