.projects-container {
    display: grid;
    max-width: 800px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'repo-label repo-label'
        'project-content project-content';
    gap: 15px;
}
.project-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}
.repo-label {
    grid-column: span 2;
    letter-spacing: 1px;
}
.project-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 500;
    gap: 1em;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(41, 85, 50, 0.736);
    border-top: 5px solid rgba(33, 101, 62, 0.63);
    transition: font-size 0.3s ease;
}
.project-header:hover {
    color: #fff;
    background-color: #3d674473;
}
.project-info {
    margin-top: 15px;
    padding: 1em;
    border: 10px solid #3d674473;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease;
}
.project-description {
    word-wrap: break-word;
    max-width: 300px;
}
.project-link {
    max-width: 150px;
    margin-left: auto;
}

@media screen and (max-width: 840px) {
    .projects-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .project-header {
        gap: 4em;
    }
}

@media screen and (max-width: 600px) {
    .repo-label {
        font-size: 1.1em;
    }
    .projects-container {
        padding: 1.5em;
    }
    .project-header {
        font-size: 1.1em;
    }
    .expand-icon {
        font-size: 22px;
    }
}

@media screen and (max-width: 500px) {
    .repo-label {
        font-size: 0.9em;
    }
    .project-header {
        font-size: 0.9em;
        gap: 1em;
    }
    .expand-icon {
        font-size: 14px;
    }
    .project-info {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 350px) {
    .repo-label {
        font-size: 0.8em;
    }
    .project-header {
        font-size: 0.7em;
    }
    .project-info {
        font-size: 0.7em;
    }
}
