.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #548d6c;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
.navbar ul {
    margin: 0;
}
.navbar-container {
    display: flex;
    padding: 1em 4em;
}
.logo {
    width: 65px;
}
.nav-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-links .nav-link {
    margin-left: 2em;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}
.nav-links .nav-link:hover {
    border-bottom: 2px solid #936d61;
}
.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: rgb(252, 205, 143);
}
.active {
    color: #fff;
}
.navbar .material-icons {
    color: rgba(252, 205, 143, 0.791);
    font-size: 36px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.navbar .material-icons:hover {
    transform: scale(1.1);
    color: rgba(252, 205, 143, 0.935);
}
.sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 10;
    background-color: #548d6ca5;
    backdrop-filter: blur(6px);
    box-shadow: -5px 0 12px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    align-items: start;
}
.sidebar-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}
.sidebar-links .material-icons {
    width: 0%;
    padding: 0.5em 0 0 0.5em;
    margin-bottom: 48px;
    text-decoration: none;
}
.sidebar-links .nav-link {
    padding: 0.5em 1.5em;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}
.sidebar-links .nav-link:hover {
    background-color: #936d6194;
}

@media screen and (max-width: 768px) {
    .hideOnMobile {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .hideOnDesktop {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .navbar-container {
        padding: 1em 10%;
    }
    .sidebar-container {
        width: 100%;
    }
}
